.userlist {
  flex: 2;
  border-right: 0.5px solid rgb(230, 227, 227);
  min-height: 100vh;
  background-color: white;
  padding-right: 10px;
  display: block;
  max-width: 480px;
}

.link {
  text-decoration: none;
  color: green;
  font-weight: 400;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 30px;
}

.border-bottom {
  margin-top: 20px;
}
