.form {
  flex: 5;
}

.top,
.bottom {
  -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
  box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
  padding: 10px;
  margin: 20px;
  display: flex;
}

.right {
  flex: 2;
}

.form-register {
  justify-content: space-around;
  position: relative;
}

.formInput {
  display: block;
  width: 40%;
  margin-bottom: 2rem;
}

label {
  display: flex;
  align-items: center;
  gap: 100px;
  padding-bottom: 10px;
  font-size: 1.2rem;
}

input {
  width: 100%;
  padding: 5px;
  border: none;
  border-bottom: 1px solid gray;
}

input:focus {
  text-decoration: none;
  outline: none;
  border-bottom: 2px solid blue;
}

button {
  width: 200px;
  padding: 10px;
  border: none;
  background-color: teal;
  color: white;
  border-radius: 20px;
  cursor: pointer;
  align-items: flex-start;
  text-transform: uppercase;
  font-size: large;
  font-family: "Times New Roman", Times, serif;
}

button:hover {
  background-color: rgb(6, 56, 56);
}
